<launch>
  <!-- <param name="use_sime_time" value="1"/> -->
  <include file="$(find kalman_filter_state_estimation)/launch/bag.launch"/>
  <!-- <node pkg="kalman_filter_state_estimation" type="topic_combiner" name="topic_combiner_node"/> -->
  <node pkg="kalman_filter_state_estimation" type="dead_reckoning_node" name="dead_reckoning_node" output="screen"/>
  <node pkg="kalman_filter_state_estimation" type="kalman_node" name="kalman"/>
  <arg name="args" default="0 0 0 0 0 0 /world /odom 100"/>
  <node pkg="tf" type="static_transform_publisher" name="static_tf_pub" args="$(arg args)"/>
  <node pkg="rviz" type="rviz" name="rviz"/>
  <arg name="log" default="false"/>
  <!-- <node pkg="kalman_filter_state_estimation" type="add_noise" name="add_noise"/> -->
  <node pkg="kalman_filter_state_estimation" type="topic_combiner" name="topic_combiner"/>
  <node pkg="kalman_filter_state_estimation" type="path_painter_node" name="path_painter"/>
  <!-- <node pkg="kalman_filter_state_estimation" type="error_node" name="error_node" args="kalman" output="screen"/> -->
</launch>
